<!-- <input type='text' [(ngModel)]='title'>
<br>
{{title | titleCase}} -->
<!-- <app-favorite [is-favorite]='post.isFavorite' (change)='onFavoriteChange($event)'></app-favorite> -->

<!-- <app-likes [isLiked]='tweet.isLiked' [likesCount]='tweet.countLikes' (like)='onLikeChange()'></app-likes> -->


<!-- <div *ngIf="courses.length > 0; then coursesList; else noCourses"></div>
<ng-template #coursesList> List of courses</ng-template>
<ng-template #noCourses> No list of courses</ng-template> -->

<!-- <div [hidden]='courses.length==0'>
  List of Courses
</div>
<div [hidden]="courses.length>0">
  No courses yet
</div> -->

<!-- <ul class="nav nav-pills">
  <li class="nav-item" [class.active]="viewMode == 'map'"><a class="nav-link" (click)="viewMode='map'">Map View</a></li>
  <li class="nav-item" [class.active]="viewMode == 'list'"><a class="nav-link" (click)="viewMode='list'">List View</a></li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View content</div>
  <div *ngSwitchCase="'list'">List View content</div>
  <div *ngSwitchDefault>OtherWise</div>
</div> -->
<!-- <button (click)="onAdd()">Load the courses</button>
<ul>
  <li *ngFor="let course of courses; trackBy : trackCourse">
    {{course.name}}
  </li>
</ul> -->

<!-- custom directive -->
<!-- <input type="text" [appInputFormat]="'uppercase'"> -->

<!-- zippy component example -->
<!-- <app-zippy title="shipping details"> Shipping details content</app-zippy> -->

<!-- <app-contact-form></app-contact-form> -->
<!-- <app-course-form></app-course-form> -->

<!-- <signup-form></signup-form> -->
<!-- <app-new-course-form></app-new-course-form> -->
<app-change-password-form></app-change-password-form>
