<form [formGroup]="form">
  <div class='form-group'>
    <label for="oldPassword">Old Password</label>
    <input type="password" formControlName='oldPassword' class='form-control'>
    <div *ngIf="oldPassword?.touched && oldPassword?.invalid" class='alert alert-danger'>
      <div *ngIf="oldPassword?.errors?.['required']">Old Password is requried</div>
      <div *ngIf="oldPassword?.errors?.['oldPasswordCheck']">Old Password is not valid.</div>
    </div>
  </div>
  <div class='form-group'>
    <label for="newPassword">New Password</label>
    <input type="password" formControlName='newPassword' class='form-control'>
    <div *ngIf="newPassword?.touched && newPassword?.invalid" class='alert alert-danger'>
      <div *ngIf="newPassword?.errors?.['required']">New Password is requried</div>
    </div>
  </div>
  <div class='form-group'>
    <label for="confirmNewPassword">Confirm New Password</label>
    <input type="password" formControlName='confirmNewPassword' class='form-control'>
    <div *ngIf="confirmNewPassword?.touched && confirmNewPassword?.invalid" class='alert alert-danger'>
      <div *ngIf="confirmNewPassword?.errors?.['required']">Confirm New Password is requried</div>
    </div>
    <div *ngIf="form.invalid && form?.errors?.['PasswordsShouldMatch']" class='alert alert-danger'>Password doesn't match</div>
  </div>
  <button class='btn btn-primary' type='submit'>Change Password</button>
</form>
